<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script
      src="https://kit.fontawesome.com/651d2edad9.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/style-profile.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <title>Contact Profile</title>
</head>
<body>
    
    <div class="container">
        <header class="hero">
            <a href="{% url 'index' %}">
                <i class="fas fa-arrow-circle-left back-btn"></i>
            </a>

            <div class="hero-info">
                <h1 class="name">{{ profile.full_name | title }}</h1>
                <p class="relationship">{{ profile.relationship | title }}</p>
            </div>
        </header>

        <section class="contact-info">
            
            <div class="info-line">
                <i class="fas fa-phone icon-gradient"></i>
                <p class="phone-number">{{ profile.phone_number | title }}</p>
            </div>

            <div class="info-line">
                <i class="fas fa-sms text icon-gradient"></i>
                <p class="sms">Send Message</p>
            </div>

            <div class="info-line">
                <i class="fas fa-envelope icon-gradient"></i>
                <p class="email">{{ profile.email | title }}</p>
            </div>

            <div class="info-line">
                <i class="fas fa-search-location icon-gradient"></i>
                <p class="address">{{ profile.address | title }}</p>
            </div>

        </section>

        <a href="{% url 'edit_contact' profile.pk %}">
            <section class="edit-contact">
                <div class="edit-button">
                    <i class="fas fa-cog icon-gradient"></i>
                </div>
            </section>
        </a>
    </div>

</body>
</html>